$base-text-size: 16px;
$base-font-family: sans-serif;
$purplenavy: #4e598c;
$white: #FFFFFF;
$topaz: #f9c784;
$rajah: #fcaf58;
$mango: #ff8c42;

@mixin reset-list {
  padding-left: 0;

  li {
    list-style: none;
  }
}

@mixin full-height {
  height: 100%;

  body,
  #root {
    min-height: 100%;
  }
}
