@import 'utility';
@import 'add';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  height: 100%;
  margin: 0;
  font-family: Raleway;
  background: linear-gradient(
      180deg,
      #7151e7,
      lighten(#4377e0, 10%)
    );
  // min-height: 100vh;
  //   background-image:
  //     repeating-linear-gradient(90deg,
  //       rgba(232,149,130, 0) 0,
  //       #7151e7 100vmax,
  //       #7151e7 calc(100vmax - 5px),
  //       #7151e7 100vmax
  //     ),
  //     repeating-linear-gradient(270deg,
  //       rgba(232,149,130, 0) 0,
  //       #4377e0 100vmax,
  //       #4377e0 calc(100vmax - 5px),
  //       #4377e0 100vmax
  //     );
  //
  //   background-color: #e89582;
  //   background-size: 100% 100%;
}

.App {
  // min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: Shrikhand;
    color: #fff;
    // flex: 1;
    font-size: 50px;


    a {
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: center;

      img {
        border: 1px dashed #333;
        border-radius: 100px;
        margin-right: 10px;
      }
    }

  }
  main {
    margin-bottom: 50px;
  }

  .Navbar {
    margin-top: 20px;
    display: flex;
    position: fixed;
    bottom: 0;
    // flex: 1;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    height: 40px;
    align-items: center;

    a {
      color: $purplenavy;
      text-decoration: none;
      font-size: 11px;
    }

    img {
      width: 25px;
      border-radius: 100px;
    }
  }

  .Splash {
    display: flex;
    flex-direction: column;
    align-items: center;

    span, img, button {
      margin: 10px;
    }

    button {
      border: none;
      background-color: rgba(255,255,255,0.5);
      border-radius: 5px;
      width: 160px;
      height: 25px;
      box-shadow: 0 0 5px transparentize($topaz, 0.3);
    }

    img {
      width: 200px;
      border: 1px dashed #333;
      border-radius: 100px;
      box-shadow: 0 0 20px transparentize($mango, 0.5);
    }
  }

  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .welcomeName {
      border-bottom: 1px solid #333;
      margin-bottom: 10px;
      padding: 5px;
    }

    .homeBox {
      padding: 8px;
      // overflow-y: scroll;
      width: 290px;
      height: 340px;
      // background: #444;
      // background: rgba(0,0,0,.2);
      // border-radius: 10px;
      // box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      // font-family: Gotham;

      span {
        text-align: center;
        font-weight: lighter;
      }

      a {
        margin-top: 20px;
        text-decoration: none;
        font-size: 12px;
        text-align: center;
        padding: 10px;
        width: 100px;
        border: 1px solid $rajah;
        border-radius: 10px;

        &:visited {
          color: #fff;
        }
        &:hover {
          color: $rajah;
        }
      }
    }

    img {
      width: 80px;
    }
  }

  .Tabs, .BeerList {
     box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
     width: 300px;
     background-color: lighten($topaz, 1%);
  }



  .Tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    span {
      font-family: Shrikhand;
      font-size: 30px;
      color: #333;
      text-align: center;
      margin-top: 20px;
      border-bottom: 1px dashed #fff;
    }

    .slider {
      flex: 1;

      .slider-frame {
        overflow: visible !important;
      }
    }
    .slider-decorator-2 {
      margin-bottom: 20px;
    }

    .beerSlide {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
    }
  }

  .BeerList {
    height: 380px;
    max-width: 500px;
    overflow-y: auto;
    margin: 0;
    // background: #444;
    // background: rgba(0,0,0,.2);
    border-radius: 10px;
    // box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);


    button {
      border: none;
      background-color: transparent;
      padding: 5px;
      margin: 2px;

      &:hover {
        border-bottom: 1px dashed #333;
      }

    }

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }

    li {
      display: flex;
      flex-direction: column;
      margin: 10px;
      align-items: center;
    }

    .logo {
      width: 100px;
      border-radius: 100px;
      padding: 3px;
      border: 1px dashed #333;
    }

    h3 {
      font-weight: bold;
      text-align: center;
    }

    .space-around {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .buttons {
      margin-left: 30px;
    }

    .add {
      width: 20px;
    }

    .carousel {
      height: 900px;
    }
  }

.Favorites {
  span {
    font-family: Shrikhand;
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px dashed #fff;
  }
}


}
