@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  height: 100%;
  margin: 0;
  font-family: Raleway;
  // background-color: $purplenavy;
  min-height: 100vh;
    background-image:
      repeating-linear-gradient(90deg,
        rgba(232,149,130, 0) 0,
        #7151e7 100vmax,
        #7151e7 calc(100vmax - 5px),
        #7151e7 100vmax
      ),
      repeating-linear-gradient(270deg,
        rgba(232,149,130, 0) 0,
        #4377e0 100vmax,
        #4377e0 calc(100vmax - 5px),
        #4377e0 100vmax
      );

    background-color: #e89582;
    background-size: 100% 100%;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: Shrikhand;
    color: #fff;
    flex: 1;
    font-size: 50px;


    a {
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: center;

      img {
        border: 1px dashed #333;
        border-radius: 100px;
        margin-right: 10px;
      }
    }
  }

  main {
    flex: 1;
  }

  .Navbar {
    flex: 1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: transparentize(#fff, 0.5);
    position: absolute;
    bottom: 0;
    height: 50px;
    align-items: center;

    .box {
      display: flex;
      align-items: center;

      height: 100%;

      flex: -1;
      border-right: 1px solid black;
    }

    a {
      color: $purplenavy;
      text-decoration: none;
      font-size: 11px;
    }

    img {
      width: 25px;
      border-radius: 100px;
    }
  }

  .Splash {
    display: flex;
    flex-direction: column;
    align-items: center;

    span, img, button {
      margin: 10px;
    }

    button {
      border: none;
      background-color: rgba(255,255,255,0.5);
      border-radius: 5px;
      width: 160px;
      height: 25px;
      box-shadow: 0 0 5px transparentize($topaz, 0.3);
    }

    img {
      width: 200px;
      border: 1px dashed #333;
      border-radius: 100px;
      box-shadow: 0 0 20px transparentize($mango, 0.5);
    }
  }

  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .homeBox {
      padding: 8px;
      // overflow-y: scroll;
      width: 290px;
      height: 340px;
      // background: #444;
      // background: rgba(0,0,0,.2);
      // border-radius: 10px;
      // box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      // font-family: Gotham;

      span {
        text-align: center;
        font-weight: lighter;
      }

      a {
        margin-top: 10px;
        text-decoration: none;
        font-size: 12px;
      }
    }

    img {
      // border-radius: 100px;
    }

  }

  .Add {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 11px;
    }

    .form-wrapper {
      margin: 10px;
    width: 280px;
    height: 40px;
    padding: 15px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }

    .form-wrapper input {
    width: 170px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font-family: Raleway;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
    }

    .form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }

  .form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
  }

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button {
overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 100px;
    font-family: Raleway;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #c42f2f;
}

.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before{
    border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
  }


  .BeerList {
    height: 350px;
    max-width: 500px;
    overflow-y: auto;
    margin: 0;
    // background: #444;
    // background: rgba(0,0,0,.2);
    border-radius: 10px;
    // box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);

    ul {
      list-style: none;
    }

    img {
      width: 100px;
      border-radius: 100px;
      padding: 3px;
      border: 1px dashed #333;
    }
  }
}
